<section class="topbar mt-24">
    <div class="px-10 mx-auto flex flex-wrap lg:flex-nowrap items-center">
        <div class="w-full lg:w-2/3 text-white flex flex-wrap lg:flex-nowrap items-center gap-6">
            <div class="w-full lg:w-1/2">
                <img class="rounded-lg w-full h-auto" src="../../../assets/appsdownload-removebg-preview.png" alt="Download our official app">
            </div>
            <div class="w-full lg:w-2/3">
                <p class="text-4xl text-orange-400 font-medium mb-3">DOWNLOAD OUR OFFICIAL APP NOW!</p>
                <h3 class="text-sm font-medium">
                    Get the latest scores on the go. Find the latest content, match highlights, press conferences, and recap at your fingertips by downloading the official ISL app. Available on both Google Play and Apple Store. Download it here!
                </h3>
            </div>
        </div>
        <div class="w-full mt-10 lg:mt-0 lg:w-1/3 flex flex-col lg:flex-col-reverse items-center gap-5 lg:justify-between">
            <a class="border-8 border-slate-800 border-opacity-10 rounded-xl" href="#">
                <img class="rounded-lg bg-white p-4 px-8" src="../../../assets/app-store.webp" alt="Google Play Store">
            </a>
            <a class="border-8 border-slate-800 border-opacity-10 rounded-xl" href="#">
                <img class="rounded-lg bg-white p-4 px-8" src="../../../assets/google-play.webp" alt="Apple App Store">
            </a>
        </div>
    </div>
</section>
