<ul class="lg:flex ml-32 font-semibold text-white text-lg gap-8 xl:gap-0">
  <li class="p-4 border-t lg:border-0 lg:mx-1 lg:px-6 rounded-md relative group cursor-pointer">
    <div class="flex items-center line-ani">
      <a class="mr-2">Super League</a>
      <i class="fa-solid fa-caret-down transform transition-all duration-300 align-middle cursor-pointer" style="color: #f4f5f6; font-size: 1rem;"></i>

  
    </div>
    <div class="absolute top-10 pt-1 hidden lg:group-hover:block">
      <div class="w-4 h-4 left-3 absolute mt-1 rotate-45" style="background: #963cff;"></div>
    </div>
    <ul class="lg:absolute py-3 top-14 left-0 lg:hidden group-hover:block lg:w-72 rounded-md shadow-2xl font-semibold" style="background: #963cff;">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <li class="">
            <a class="block px-4 py-2 text-white text-sm hover:underline">News</a>
          </li>
          <li class="">
            <a href="#" class="block px-4 py-2 text-white text-sm hover:underline">Watch Live</a>
          </li>
        </div>
        <div>
          <li class="">
            <a href="#" class="block px-4 py-2 text-white text-sm hover:underline">Clubs</a>
          </li>
          <li class="">
            <a [routerLink]="['players']" class="block px-4 py-2 text-white text-sm hover:underline">Players</a>
          </li>
        </div>
      </div>
    </ul>
    
  </li>
  

  <li class="p-4 border-t lg:border-0 lg:mx-1 lg:px-6 rounded-md relative group cursor-pointer">
    <div class="flex items-center line-ani">
      <a class="mr-2">Fantasy</a>
      <i class="fa-solid fa-caret-down transform transition-all duration-300 align-middle cursor-pointer" style="color: #f4f5f6; font-size: 1rem;"></i>

  
    </div>
    <div class="absolute top-10 pt-1 hidden lg:group-hover:block">
      <div class="w-4 h-4 left-3 absolute mt-1 rotate-45" style="background: #963cff;"></div>
    </div>
    <ul class="lg:absolute py-3 top-14 left-0 lg:hidden group-hover:block lg:w-72 rounded-md shadow-2xl font-semibold" style="background: #963cff;">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <li class="">
            <a class="block px-4 py-2 text-white text-sm hover:underline">Fantasy</a>
          </li>
          <li class="">
            <a href="#" class="block px-4 py-2 text-white text-sm hover:underline">Challenge</a>
          </li>
        </div>
        <div>
          <li class="">
            <a href="#" class="block px-4 py-2 text-white text-sm hover:underline">Fantasy Draft</a>
          </li>
        </div>
      </div>
    </ul>
    
  </li>


  <li class="p-4 border-t lg:border-0 lg:mx-1 lg:px-6 rounded-md relative group cursor-pointer">
    <div class="flex items-center line-ani">
      <a class="mr-2">Football & Community</a>
      <i class="fa-solid fa-caret-down transform transition-all duration-300 align-middle cursor-pointer" style="color: #f4f5f6; font-size: 1rem;"></i>

  
    </div>
    <div class="absolute top-10 pt-1 hidden lg:group-hover:block">
      <div class="w-4 h-4 left-3 absolute mt-1 rotate-45" style="background: #963cff;"></div>
    </div>
    <ul class="lg:absolute py-3 top-14 left-0 lg:hidden group-hover:block lg:w-72 rounded-md shadow-2xl font-semibold" style="background: #963cff;">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <li class="">
            <a class="block px-4 py-2 text-white text-sm hover:underline">Wider Football</a>
          </li>
          <li class="">
            <a href="#" class="block px-4 py-2 text-white text-sm hover:underline">Community</a>
          </li>
        </div>
        <div>
          <li class="">
            <a href="#" class="block px-4 py-2 text-white text-sm hover:underline">Inside matters</a>
          </li>
          <li class="">
            <a href="#" class="block px-4 py-2 text-white text-sm hover:underline">Poppy</a>
          </li>
        </div>
      </div>
    </ul>
    
  </li>


  <li class="p-4 border-t lg:border-0 lg:mx-1 lg:px-6 rounded-md relative group cursor-pointer">
    <div class="flex items-center line-ani">
      <a class="mr-2">About</a>
      <i class="fa-solid fa-caret-down transform transition-all duration-300 align-middle cursor-pointer" style="color: #f4f5f6; font-size: 1rem;"></i>

  
    </div>
    <div class="absolute top-10 pt-1 hidden lg:group-hover:block">
      <div class="w-4 h-4 left-3 absolute mt-1 rotate-45" style="background: #963cff;"></div>
    </div>
    <ul class="lg:absolute py-3 top-14 left-0 lg:hidden group-hover:block lg:w-72 rounded-md shadow-2xl font-semibold" style="background: #963cff;">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <li class="">
            <a class="block px-4 py-2 text-white text-sm hover:underline">Overview</a>
          </li>
          <li class="">
            <a href="#" class="block px-4 py-2 text-white text-sm hover:underline">what we do</a>
          </li>
        </div>
        <div>
          <li class="">
            <a href="#" class="block px-4 py-2 text-white text-sm hover:underline">Partners</a>
          </li>
          <li class="">
            <a href="#" class="block px-4 py-2 text-white text-sm hover:underline">Legal</a>
          </li>
        </div>
      </div>
    </ul>
    
  </li>


  <li class="p-4 border-t lg:border-0 lg:mx-1 lg:px-6 rounded-md relative group cursor-pointer">
    <div class="flex items-center line-ani">
      <a class="mr-2">More</a>
      <i class="fa-solid fa-caret-down transform transition-all duration-300 align-middle cursor-pointer" style="color: #f4f5f6; font-size: 1rem;"></i>

  
    </div>
    <div class="absolute top-10 pt-1 hidden lg:group-hover:block">
      <div class="w-4 h-4 left-3 absolute mt-1 rotate-45" style="background: #963cff;"></div>
    </div>
    <ul class="lg:absolute py-3 top-14 left-0 lg:hidden group-hover:block lg:w-72 rounded-md shadow-2xl font-semibold" style="background: #963cff;">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <li class="">
            <a class="block px-4 py-2 text-white text-sm hover:underline">History</a>
          </li>
          <li class="">
            <a href="#" class="block px-4 py-2 text-white text-sm hover:underline">Hall of Fame</a>
          </li>
        </div>
        <div>
          <li class="">
            <a href="#" class="block px-4 py-2 text-white text-sm hover:underline">Contact Us</a>
          </li>
          <li class="">
            <a href="#" class="block px-4 py-2 text-white text-sm hover:underline">Tickets</a>
          </li>
        </div>
      </div>
    </ul>
    
  </li>
</ul>
