<nav class="fixed w-full top-0 left-0 h-screen z-50 {{isSidebarShowing?'flex':'hidden'}}">
    <div class="bg-white w-full md:max-w-sm shadow-2xl">
        <div class="flex justify-end p-5">
            <svg (click)="this.closeSideBar()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>              
        </div>
        <div>
            <div class="mt-3"><app-phone></app-phone></div>
            <div class="mt-3"><app-email></app-email></div>
            <div class="mt-6"><app-auth-links></app-auth-links></div>
            <div class="mt-6">
                <app-menu></app-menu>
            </div>
            <div class="mt-6">
                <app-social-links></app-social-links>
            </div>
        </div>
    </div>
    <div (click)="this.closeSideBar()" class="bg-gray-900 hidden md:block md:w-full opacity-60">
    </div>
</nav>
<header class="absolute w-full z-[999999]">
    <div class="{{isMenuScrolled ? 'fixed top-0 bg-white w-full shadow-xl animate__animated animate__slideInDown' : 'pt-0'}}">
        <div class="hidden lg:block">
            <div class="container py-4 px-56">
                <ul class="flex">
                    <li class="font-medium text-sm flex items-center gap-1">Club Sites <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                      </svg>
                      </span></li>
                    <li>
                        <app-clubs-list></app-clubs-list>
                    </li>
                </ul>
            </div>
        </div>
        <div class="px-5 topbar z-[999999]">
            <div  style="line-height: 6rem;" class="flex items-center px-10 mx-auto justify-between {{isMenuScrolled ? '' : ''}}">
                <div class="absolute z-[1000000]">
                    <a href="#">
                        <img src="../assets/test-logo.png" alt="Logo" class="h-28">
                    </a>
                </div>  
                <div class="lg:hidden">
                    <svg (click)="this.openSideBar()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                      </svg>                  
                </div>
                <app-menu class="hidden lg:block"></app-menu>
                <app-auth-links class="hidden lg:block"></app-auth-links>
            </div>
        </div>
    </div>

</header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<button
 *ngIf="isMenuScrolled" (click)="scrollToTop()"
 class="flex transition-all duration-300 fixed bottom-5 right-5 w-10 h-10 topbar hover:bg-slate-800 rounded-full">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6 m-auto">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
      </svg>
      
</button>