
<ul class="justify-center flex gap-6 font-semibold text-slate-700 text-lg items-center">
    <li>
        <span class="text-white" style="height: 50px;">&nbsp; | &nbsp;</span>
    </li>
    <li>
        <button type="button" class="py-1 px-3 me-2 text-lg font-extrabold text-white focus:z-10 focus:ring-4">More than a game</button>
    </li>
    <li>
        <button [routerLink]="['clubs']" type="button" class="py-1 px-3 me-2 text-lg font-extrabold text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Sign in</button>
    </li>
</ul>
